NEXT_PUBLIC_CONTRACT_ADDRESS=0xF52d9FD2a1542b3F84417a916f3aB4B4631D0b3D
NEXT_PUBLIC_CHAIN_ID=61997
NEXT_PUBLIC_STUDIO_RPC=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_EXPLORER=https://explorer-studio-dev.genlayer.com
