NEXT_PUBLIC_CONTRACT_ADDRESS=0xc7464f6d5F14559f878528730333D74481c4d00f
NEXT_PUBLIC_CHAIN_ID=61997
NEXT_PUBLIC_STUDIO_RPC=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_EXPLORER=https://explorer-studio-dev.genlayer.com
